<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangjie.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.wangjie.model.SysUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="job" jdbcType="VARCHAR" property="job"/>
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone"/>
        <result column="org_id" jdbcType="BIGINT" property="orgId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="register_ip" jdbcType="VARCHAR" property="registerIp"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.wangjie.model.SysUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_user (name, login_name, password,
        age, job, mobile_phone,
        org_id, dept_id, register_ip,
        create_by,
        update_by)
        values (#{name,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{age,jdbcType=INTEGER}, #{job,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR},
        #{orgId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT}, #{registerIp,jdbcType=VARCHAR},
        #{createBy,jdbcType=BIGINT},
        #{updateBy,jdbcType=BIGINT})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.wangjie.model.SysUser">
    update sys_user
    set name = #{name,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      job = #{job,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=BIGINT},
      dept_id = #{deptId,jdbcType=BIGINT},
      register_ip = #{registerIp,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, login_name, password, age, job, mobile_phone, org_id, dept_id, register_ip,
    enabled, create_by, create_time, update_by, update_time
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>

    <sql id="userProperties">
         u.id, u.name, u.login_name, u.password, u.age, u.job, u.mobile_phone, u.org_id, u.dept_id, u.register_ip,
            u.enabled, u.create_by, u.create_time, u.update_by, u.update_time
    </sql>

    <select id="selectUsers" parameterType="com.wangjie.model.SysUser" resultMap="BaseResultMap">
        select
        <include refid="userProperties"/>,o.name
        from sys_user u
        join sys_org o on u.org_id = o.org_id
        where u.enabled = 1 and o.enabled = 1
        <if test="name!=null and name!=''">
            and u.name like concat('%',#{name},'%')
        </if>
        <if test="loginName!=null and loginName!=''">
            and u.login_name like concat('%',#{loginName},'%')
        </if>
        <if test="age!=null and age!=''">
            and u.age = #{age}
        </if>
        <if test="job!=null and job!=''">
            and u.job like concat('%',#{job},'%')
        </if>
        <if test="orgId!=null and orgId!=''">
            and u.org_id = #{orgId}
        </if>
    </select>

</mapper>